<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <h6>{{ques}}</h6>
    <textarea id="chat-log" cols="100" rows="20">
        {% for mssg in room.message_set.all %}    
        {{mssg.mssg}}   -- {{mssg.sender}}  
        {% endfor %}
    </textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <br>
    <br>
    <br>
    {% if user_role == "guide" %}
    <form action="" method="post">
    <input id="chat-closeroom" name="chat-closeroom" type="submit" value="Close the room">
    {%csrf_token%}
    </form>
    {% endif %}
    {{ user_role|json_script:"user_role"}}
    {{ other_usr| json_script:"o_u" }}
    {{ room.room_name|json_script:"room-name" }}
    {{ user.username|json_script:"username" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };
        
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const usrname=JSON.parse(document.getElementById('username').textContent);
            const receiver=JSON.parse(document.getElementById('o_u').textContent);
            const user_role=JSON.parse(document.getElementById('user_role').textContent);
            const room_name=JSON.parse(document.getElementById('room-name').textContent);
            const message = messageInputDom.value;
            const overall_message= message+"  -- "+usrname;

            chatSocket.send(JSON.stringify({
                'overall_message': overall_message,
                'message': message,
                'receiver': receiver,
                'user_role':user_role,
                'room_name': room_name,
            }));
            messageInputDom.value = '';
        };
        document.querySelector('#chat-closeroom').onclick = function(e) {
            
        }
    </script>
</body>
</html>