th , td { 
    padding-right: 10%;
    background-color: antiquewhite;
}
.in {
    padding-left: 25%;
    width: 60%;
}

.row {
    border: 2px solid black;
    padding-bottom: 10%;
    height: 5%;
}
.name {
    background-color: bisque;
    width: 20%;
}
.Qual {
    width: 50%;
}
.level {
    width: 15%;
}
.rating {
    width: 15%;
}
.ques {
    width: 100%;
    height: 20%;
    border: 1px solid black;
    text-align: left;
}
.label {
    font-family: Arial, Helvetica, sans-serif;
}
.list{
    width: 100%;
}
h1 , h2 {
    text-align: center;
}
.guides , .field{
    padding: 0%;
}
.field {
    border: 2px solid black;
    padding-left: 0%;
    display: inline;
    float: center;
    margin-left: 44%;
    margin-bottom: 5%;
}
.guides {
    border: 1px solid black;
    margin-bottom: 0%;
}
a {
    text-decoration: none;
    color:rgb(233, 75, 13);
}
a:hover {
    text-decoration: none;
    background-color: aliceblue;
    border-style: outset;
    width: 20%;

}
.top{
    position: sticky;
    top: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0%;
}