{%load static%}
<Doctype! html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{%static 'stgde_contact_lst.css'%}">
        <title>List of Guides</title>
    </head>
    <body>
        <div class="top">
            <a href="{% url 'home' %}" >Home</a>
            <a href="{% url 'logout'%}">Logout</a>
        </div>
        <div class="header">
        <h1 class="field">{{fd}} </h1>
        <br>
        <h2 class="guidees"> Guidees </h2>
        </div>
        <div class="show_options">
            <a href="/guide/{{fd}}/guidees_contacted?show=not seen"><u>Not seen</u> </a>
            <a href="/guide/{{fd}}/guidees_contacted?show=all"><u>All</u></a>
            {% if new %}
            <a href="/guide/{{fd}}/guidees_contacted?show=new"><u>New</u></a>
            {% endif %}
        </div>
        <hr>
        <div >
            
            <table class="list">
                <tr class="row">
                    <th class="name">Name</th>
                    <th class="rating">Rating</th>
                </tr>
                {%for ques in questions%}
                <tr class="r">
                    <td class="name"><a href="../{{fd}}/guidee/{{ques.guidee}}?ques={{ques.ques}}" class="a" >{{ques.guidee}}</a></td>
                    <td>{{ques.guidee.usrinfo.guidee_rating}}</td>
                </tr>
                <tr class="rq">
                    <td colspan="2">{{ques.ques}}</td>
                </tr>
                {%endfor%}                
            </table>
            <hr>
        </div>
    </body>
    </html>