{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'stgdeprofile.css'%}">
        <title>
            {{gde}}'s profile</title>
    </head>
    <body>
        <div class="top">
            <a href="{% url 'home' %}" >Home</a>
            <a href="{% url 'logout'%}">Logout</a>
        </div>
        <h1 style="text-align:center"> {{gde}}'s profile</h1>
        <br>
        <div class="row">
            <div class="column cert">
                <p class="left">Details:- <br><br> Qualifications:- <br>
                    <br> Interested fields:-
                    {% for fd in gde.guideeinfo.fds.all%}
                    {{fd}} <br>
                    {%endfor%}
                </p>
            </div>
            <div class="column prof">
                <img src="{{gde.usrinfo.DP.url}}" ,alt="profile pic" width="50px"
                    height="100px">
                <p class="name">Name</p>
            </div>
            <div class="column perf">
                <p class="pd">
                    Rating :- {{gde.guideeinfo.rating}}
                </p>

            </div>
            <p>Available mode:-</p>
        </div>
        <div class="hr">
            <p></p>
            <p><hr></p>
            
        </div>
        <div class="qc">
            <div class="q">
                <p>Question:-<br><br>{{ques}}</p>
            </div>
            <div class="cnct">
                <button type="button" value="Chat" id="chat"  class="btn btnch" onclick=chat()>Chat</button>
                <button type="button" value="Audio Call" class="btn btnac">Audio Call</button>
                <button type="button" value="Video Call" class="btn btnvc">Video Call</button>
            </div>
            </div>
        </div>
        <div style="clear:both"><br><hr></div>
        <div class="btm">
            <div style="float: right;">  
                <form action="" method="post">
                <input type="submit" value="rate" name="rate">
                <input type="text" name="rating">
                {%csrf_token%}
                </form>
            </div>
            <div >Review:-
            </div>
            <div>
                <form action="" method="post">
                <textarea class="rev" cols="200" rows="2" name="rvw"></textarea>
                <input type="submit" value="post" name="rvw_post" >
                {%csrf_token%}
                </form>
            </div>
            <button type="button" onclick=shrevs() >Show all reviews</button>
        </div>
        <div id="rvs">
            {% for rvw in rvws %}
            <div class="revs revl">{{rvw.gd}}</div>
            <div class="revs revl"><label>{{rvw.rvw}}</label></div>
            {%endfor%}
        </div>
        {{ gde.username|json_script:'gde'}}
        <script src="{% static 'jsgdeprofile.js'%}"></script>
    </body>

</html>