{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'stgdconnect.css' %}">
        <title>Q&A by guide</title>
    </head>
    <body>
        <div class="top">
            <a href="{% url 'home' %}" >Home</a>
            <a href="{% url 'logout'%}">Logout</a>
        </div>
        <div class= "ques">
            <p style="text-align:left;padding-top:0%">{{ques}}</p>
        </div>
        <div>
            <hr>
        </div>
        <div class= "qac">
            <div class="qa">
                <div class=" qai qa1">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa2">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa3">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa4">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa5">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa6">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
            </div>
            <div class="cnct">
                <div class="cncti cnctm">
                    {% if gd.guideinfo.connectmode == 0 %}
                    <span>Connect mode :- Not ready to contact </span>
                    {%else%}
                    <span>Connect mode :- Ready to contact </span>
                    {%endif%}
                    <form action="" method="post">
                    {% if not ques_sent %}
                    <input type="submit" value="send question" name="sending_ques">
                    {%csrf_token%}
                    {%else%}
                    <input type="submit" value="unsend question" name="unsending_ques">
                    {%csrf_token%}
                    </form>
                    {%endif%}
                    
                </div>
                <button type="button" value="Chat" class="btn btnch" onclick=chat()>Chat</button>
                <button type="button" value="Audio Call" class="btn btnac">Audio Call</button>
                <button type="button" value="Video Call" class="btn btnvc">Video Call</button>
            </div>
            {{ gd.guideinfo.connectmode|json_script:"c_m" }}
            {{ gd.username|json_script:"gd" }}

            <script src="{%static 'jsgdconnect.js'%}"></script>
    </body>
</html>