{%load static%}
<Doctype! html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{%static 'stgdlst.css'%}" type="text/css">
        <title>
            {% if  type == 'fd_gd_lst' %}
            List of Guides
            {% elif type == 'contact_lst' %}
            Guides Contacted
            {% endif %}
        </title>
    </head>

    <body>
        <div class="top">
            <a href="{% url 'home' %}" >Home</a>
            <a href="{% url 'logout'%}">Logout</a>
        </div>
        <div class="header">
            {% if  type == 'fd_gd_lst' %}    
            <h1 class="field">{{fd}} </h1>
            {% elif type == 'contact_lst' %}
            <h1 class="cnctlstheader">Guide Contact list</h1>
            {% endif %}
            <br>
            <h2 class="guides"> Guides </h2>
        </div>
        <hr>
        <div >
            <form action="" method="post" novalidate>
            <table class="list">
                <tr class="row">
                    <th class="name">Name</th>
                    <th class="level">Level</th>
                    <th class="Qual">Qualification</th>
                    <th class="rating">Rating</th>
                </tr>
                {%for gd in gds%}
                <tr>
                    {% if  type == 'fd_gd_lst' %}
                    <td class="name"><a href="../{{fd}}/{{gd}}">{{gd}}</a></td>
                    {% elif type == 'contact_lst' %}
                    <td class="name"><a href="{% url 'chat:room' other_usr=gd.username %}?requestfrom=guidee">{{gd}}</a></td>
                    {% endif %}
                    <td>{{gd.usrinfo.level}}</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>{{gd.usrinfo.guide_rating}}</td>
                </tr>
                {%endfor%}
            </table>
            {% csrf_token %}
            </form>
            <hr>

        </div>
        <Script src= "{% static 'jslog.js' %}"></Script>
    </body>

    </html>
